{% extends 'layout.html.twig' %}
{% block content %}

        <a class="btn btn-secondary float-right" href="{{ path('invoice_list') }}"><i class="fa fa-arrow-left"></i> Назад</a>

        <div class="row">
            <div class="col-lg-12 text-center">
                {% if action =='add' %}
                    <h1 class="mt-5">Добавить новый счёт</h1>
                    <p class="lead"></p>
                {% elseif action == 'edit' %}
                    <h1 class="mt-5">Редактировать счёт</h1>
                    <p class="lead"></p>
                {% endif %}
            </div>
        </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-sm-1"></div>
    </div>

{% endblock content %}

{% block js %}
<script>
$(function() {
    $('#form_add').click(function() {
        $(this).show(1).hide(1).delay( 3000 ).show(1);
    });
});
</script>
{% endblock js %}
